<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/admin/main.css') }}">
    <title>Адмін</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <h1>MyLikePillow Адмін</h1>
    <a href="/contacts/">Контакти</a>
    {% if role == "Адміністратор" %}
    <a href="/channels/">Канали</a>
    {% endif %}
    <a href="/messages/">Повідомлення</a>
    <a href="/orders/">Замовлення</a>
</body>
</html>
