<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base/add.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/main.css') }}">
    <title>Адмін</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <nav>
        <a href="/">
            <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
        </a>
        <h1>Канали</h1>
        <a onclick="window.location.reload()">
            <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /></svg>
        </a>
        <a onclick="document.querySelector('.banner_background').style.display = 'flex';">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
        </a>
    </nav>
    <table>
        <thead>
            <tr>
                <th>Канал</th>
                <th>Кількість запрошених людей</th>
                <th>Посилання</th>
            </tr>
        </thead>
        <tbody>
            {% for id, name, count, url in channels %}
            <tr>
                <td>{{name}}</td>
                <td>{{count}}</td>
                <td>{{url}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="banner_background">
        <form method="post" action="/channels/add" class="banner">
            <h1>Додати канал</h1>
            <input type="text" name="name" placeholder="Назва каналу">
            <div>
                <button type="button" class="cancel" onclick="hideBanner()">Відмінити</button>
                <button type="submit">Додати</button>
            </div>
        </form>
    </div>

    <script>
        function hideBanner(){
            document.querySelector('.banner_background').style.display = 'none';
        }
    </script>
</body>
</html>