<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/messages|orders/info.css') }}">
    <title>Адмін</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<body>
    <div class="info-container">
        <div class="info-header">Справа #{{ info["id"] }}</div>

        <div class="info-section">
            <label>Статус:</label>
            <select style="color:#{{ info["status"][1] }}" onchange="openStatusBanner(this)">
                <option value="0" {% if info["status"][0]==0 %} selected {% endif %}>Статус - новий</option>
                <option value="1" {% if info["status"][0]==1 %} selected {% endif %}>Статус - в процессі</option>
                <option value="2" {% if info["status"][0]==2 %} selected {% endif %}>Статус - завершений</option>
            </select>
        </div>

        <div class="info-section">
            <label>Контакт:</label>
            <span>{{ info["full_name"] }}</span>
        </div>

        <div class="info-section">
            <label>Дата справи:</label>
            <span>{{ info["date"] }}</span>
        </div>

        <div class="info-section">
            <label>Вид проблеми:</label>
            <span>{{ info["problem"] }}</span>
        </div>


        <div class="info-section">
            <label>Коментарії:</label>
            <div class="comments">
                {% for i, comment in info["comments"] %}
                <div class="comment">
                    <span>{{ comment }}</span>
                    <button onclick="openBanner({{i}})">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="14"  height="14"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                    </button>
                </div>
                {% endfor %}
            </div>
            <form method="post" action="add_comment" class="add_comment">
                <input type="text" placeholder="Напиши коммент" name="comment">
                <button>Додати коммент</button>
            </form>
        </div>

        <div class="info-section">
            <label>Дії:</label>
            <textarea disabled>{{ info['log'] }}</textarea>
        </div>

        {% if "img" in info %}
        <div class="info-section">
            <label>Зображення:</label>
            <div class="info-images">
                <img src="{{ info["img"] }}" alt="Original Image">
                <img src="{{ info["no_bg_img"] }}" alt="No Background Image">
                <img src="{{ info["pil_effect_img"] }}" alt="Effect Image">
            </div>
        </div>
        {% endif %}

        <div class="footer">
            <a href="/messages">Повернутись</a>
        </div>
    </div>
    
    
    <div class="banner_background">
        <form method="post" action="" class="banner">
            <h1>Ви точно хочете видалити коммент</h1>
            <div>
                <button type="button" class="cancel" onclick="hideBanner()">Відмінити</button>
                <button type="submit">Видалити</button>
            </div>
        </form>
    </div>
    
    
    <div class="banner_background status">
        <form method="post" action="" class="banner">
            <h1>Ви точно хочете змінити статус</h1>
            <div>
                <button type="button" class="cancel" onclick="hideStatusBanner()">Відмінити</button>
                <button type="submit">Змінити</button>
            </div>
        </form>
    </div>


    <script>
        function hideBanner(){
            document.querySelector('.banner_background').style.display = 'none';
        }

        function openBanner(id){
            document.querySelector('.banner_background form').action = `delete_comment/${id}`;
            document.querySelector('.banner_background').style.display = 'flex';
        }

        function hideStatusBanner(){
            document.querySelector('.banner_background.status').style.display = 'none';
        }

        function openStatusBanner(select){
            document.querySelector('.banner_background.status form').action = `status_edit/${select.value}`;
            document.querySelector('.banner_background.status').style.display = 'flex';
        }
    </script>
</body>
</html>
