
body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
    font-family: Arial;
    color: #375f9b;
}

.info-container {
    background: #e0ecff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.info-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.info-section {
    margin-bottom: 15px;
}

.info-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}


.info-section span,
.info-section textarea {
    display: block;
    color: #777;
}

.info-section textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    cursor: not-allowed;
}

.info-images {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.info-images img {
    width: 180px;
    border-radius: 5px;
    border: 1px solid #ddd;
    object-fit: contain;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    background-color: #fff;
    color: #375f9b;
    border-radius: 20px;
    width: 200px;
    padding: 10px 35px;
    font-size: 16px;
    border:none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

.footer a:hover {
    background-color: #d3dae2;
}

.add_comment{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.add_comment button{
    background-color: #fff;
    color: #375f9b;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 10px;
    border:none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

.add_comment button:hover {
    background-color: #d3dae2;
}

.add_comment input{
    border: 1px solid #375f9b;
    color: #777;
    width: 200px;
    height:26px;
    border-radius: 6px;
    padding-left:10px;
    font-size: 12px;
}

.comments{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.comment{
    background-color: #fff;
    padding: 26px;
    border-radius: 8px;
    position: relative;
    font-size: 14px;
}

.comment button{
    color: #fff;
    background-color: #375f9b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 8px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}

select{
    border: 1px solid #375f9b;
    height:25px;
    border-radius: 5px;
    padding-left:10px;
    font-size: 13px;
    background-color: #fff;
    appearance: none;
}


.banner_background{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width:  100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index:10;
}

.banner_background .banner{
    max-width: 700px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner_background h1{
    text-align: center;
    margin-bottom: 20px;
	font-size: 20px;
    font-weight: 600;
}

.banner div{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.banner_background button{
    font-size: 16px;
    padding: 10px 38px;
    border: none;
    border-radius: 10px;
    background-color: #d3dae2;
    text-decoration: none;
}

.banner_background button:hover{
    background-color: #bccbdb;
}